<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="Group4DBConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\joeyr\OneDrive\Desktop\Williams-Specialty-Company--Business-Automation-GroupD-master\Williams Specialty Company\Database\Group4DB.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="ConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\joeyr\OneDrive\Desktop\Williams Specialty Company New\Database\Group4DB.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="ConnectionString2" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;D:\CIS-470\Williams-Specialty-Company--Business-Automation-GroupD-project-with-database\Williams Specialty Company\Database\Group4DB.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="ConnectionString3" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;D:\CIS-470\Williams-Specialty-Company--Business-Automation-GroupD-project-with-database\Williams Specialty Company\Database\Group4DB.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="ConnectionString4" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\joeyr\OneDrive\Desktop\githibdownload\Williams-Specialty-Company--Business-Automation-GroupD-Database-patch\Williams Specialty Company\Database\Group4DB.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="ConnectionString5" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\joeyr\OneDrive\Desktop\githibdownload\Williams-Specialty-Company--Business-Automation-GroupD-Database-patch\Williams Specialty Company\Database\Group4DB.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="Daniel's Connection String" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\Voodo\Desktop\CIS470 Final Project\Week 7 Updates - Copy\Williams Specialty Company\Database\Group4DB.accdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

<appSettings>
<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
</appSettings>

</configuration>
